.box {
    display: flex;
    padding: 10px;
 }

 * {
    color: gray;
}

.panel {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}